.is-open {

#header {
  transform: translate3d(-$sidebar-width, 0, 0);
    // width: calc(100% - 150px);
}

  // .wrapper {
  //   transform: translate3d(-$sidebar-width, 0, 0);
  // }
// .body-wrap {
//   @include media(em(560)) {
//     width: calc(100% - #{$sidebar-width});
//    float: right;
//  }
// }
.portfolio__item {
  @include media(900) {
    margin: 10px 0;
  }
}
  .mobile-navigation__item  {
      transform: translate3d( 0, 0, 0);
    &:nth-child(1) {
      transition-delay: .2s;
    }
    &:nth-child(2) {
      transition-delay: .4s;
    }
    &:nth-child(3) {
      transition-delay: .6s;
    }
    &:nth-child(4) {
      transition-delay: .8s;
    }
    &:nth-child(5) {
      transition-delay: 1s;
    }
  }

   .mobile__menu-bar:nth-child(1) {
    transform: rotate(224deg) scale(1.5);
      position: relative;
         top: 8px;
  }
   .mobile__menu-bar:nth-child(2) {
    transform: rotate(-45deg) scale(1.5);


  }
   .mobile__menu-bar:nth-child(3) {
    display: none;
  }

  .mobile-navigation__container {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .menu-text {
    display: none;
    @include media(em(500)) {
      display: inline-block;
    }
  }
}

.sticky {
  #header {
    height: 112px;
    background: #111;
    position: fixed;
    z-index: 100;
    // animation: header 1s linear;
    top:0;
    right: 0;
    }
    .wrapper {
      margin-top: 100px;
    }
  }

.is-open.sticky #header {
  @include media(em(560)) {
  width: calc(100% - #{$sidebar-width});
       transform: translate3d(0, 0, 0);
  }
}
