
.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em 0 2em;
  border-bottom: solid 1px #e7e7e7;
  margin: 2em;
}

html {
  background: url('../images/crossword.png' ) 0 0 transparent repeat;

}
figure {
  margin: 0;
}
