
.wrapper {
  width: 100%;

    margin-top: 112px;
    margin-bottom: 100px;
      transition: all .5s;
}
.body-wrap {
  transition: all .5s;
}
#header {
height: 100px;
width: 100%;
transition: transform 0.5s, width 0.5s;
height: 112px;
background: #111;
position: fixed;
z-index: 100;
animation: header 1s linear;
top:0;
right: 0;
}
.body-wrap {
  height: 100%;
  width: 100%;
  position: relative;

}
body {
  background: url('../images/zwartevilt.png') 0 0 repeat #333;
}
.footer {
  background: #060606;
  padding: 20px 40px;
  margin-top: 40px;
  position: fixed;
  z-index:101;
  bottom:0;
  left:0;
  width: 100%;
  span {
    color: #fff;
    font-style: italic;
    font-family: georige, serif;
    letter-spacing: 1px;
  }
}
