#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


.button {
  text-transform: uppercase;
  color: #747474;
  border-radius: 5px;
  border: 1px solid #747474;
  padding: em(16);
  width: 100%;
  letter-spacing: 1px;
  margin: 20px 0;
  text-align: center;
  display:block;
  position: relative;
  overflow: hidden;
  span {
    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    opacity: 1;
    transform: translate3d(0, 0, 0);
    display: inline-block;
  }
  &:hover {
    background-color: #FCB03D;
    transition: background-color 0s 0.3s, border-radius 0.3s, border-color 0.3s;
    border-color: #FCB03D;
    border-radius: 0;

    .button__icon {
      transform: translate3d(0, 0, 0);
    }
    > span {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    &::before {
      animation: ani-button 0.5s forwards ease-in;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: -50%;
    width: 200%;
    height: 200%;
    background: #FCB03D;
    top: -50%;
    z-index: -1;
    transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg) ;
  }
}
.button__icon {
  padding: 1em 2em;;
  font-size: 1.2em !important;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
