#mobile-button {
    display: block;
    height: auto;
    position: absolute;
    z-index: 101;
    cursor: pointer;
    padding: 16px 16px 14px 16px;
    background: #fff;
}

.mobile__menu {
    display: inline-block;
    width: 16px;
    margin: 0;
}

.mobile__menu-bar {
    background-color: #555;
    border-radius: 1px;
    display: block;
    width: 16px;
    height: 2px;
    margin: 0 auto 2px;
}
