.mobile-navigation__container {
  visibility: visible;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: $sidebar-width;
  height: 100%;
  background: #000;
  transition: all 0.5s;
  transform: translate3d(300px, 0, 0);
  overflow: hidden;
}
.mobile-navigation__primary {
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;

}
.mobile-navigation__item {

  display: block;

  outline: none;
  border-bottom: 1px solid #2D2B2B;
  text-transform: uppercase;
  font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  // -webkit-transition: background 0.3s, box-shadow 0.3s;
  // transition: background 0.3s, box-shadow 0.3s;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
          transition-delay: 0s;
  transform: translateX($sidebar-width);

  a {
      color: #C3BEBE;
      font-size: em(10);
      padding: 1.3em .7em 1.3em 1.7em;
      display: block;
      transition: all .3s;
      &:hover {
        background-color: #313131;
      }
  }
}

.about-item {
  border-bottom-width: 3px;
  background-color: #2B2A2A;
}
.all {
  background-color: #3E3E3E;
}
