.mobile-navigation__container {
  visibility: visible;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 110px;
  height: 100%;
  background: #000;
  transition: all 0.5s;
  transform: translate3d($sidebar-width, 0, 0);
  overflow: hidden;
  @include media(em(900)) {
    width: $sidebar-width;

  }
}
.mobile-navigation__primary {
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;

}
.mobile-navigation__item {
  display: block;
  outline: none;
  border-bottom: 1px solid #2D2B2B;
  text-transform: uppercase;
  font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  // -webkit-transition: background 0.3s, box-shadow 0.3s;
  // transition: background 0.3s, box-shadow 0.3s;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
  transition-delay: 0s;
  transform: translate3d($sidebar-width, 0 , 0);

  a {
      color: #C3BEBE;

      padding: 2em .75em;
      font-size: em(9);
      display: block;
      transition: all .3s;
      @include media(em(900)) {
        font-size: em(10);
        padding: 1em .5em 1em 1.3em;
      }
      &:hover {
        background-color: #313131;
      }
  }
}

.about-item {
  border-bottom-width: 3px;
  background-color: #2B2A2A;
}
.all {
  background-color: #3E3E3E;
}
