.navigation__container {
  animation-name: dropHeader;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-duration: 0.3s;
  animation-delay: .3s;
  transition: all .2s;
}
.navigation__primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
    transition: all .3s ease-in-out;
}

.navigation__item {
  padding: .5rem 0.5rem;
  margin: 1rem 0;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
    transition: all .3s ease-in-out;
  a {
    text-decoration: none;
    color: #747474;
    transition: all .2s ease-in-out;
    &::before, &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #777;
      content: '';
      opacity: 0;
      transition: all .2s ease-in-out;
    }
    &::after {
      bottom: 0;
      transform: translateY(10px);
    }
    &::before {
      top: 0;
      transform: translateY(-10px);
    }
    // &:hover {
    //   font-weight: 700;
    // }
    &:hover::after, &:hover::before {
      opacity: 1;
      transform: translateY(0px);
    }

}
}
