.portfolio {
  @include outer-container;
  width: 100%;
  max-width: em(320);

  @include media(em(700)) {
    max-width: em(640);
  }
  @include media(em(981)) {
    max-width: em(960);
  }
  @include media(em(1300)) {
    max-width: $max-width;
  }
}

.portfolio__item {
  height: 400px;;
  overflow: hidden;
  float: left;
  margin: 10px;
  position: relative;
  @include media($medium-screen) {
    height: 400px;
    width: 300px;
  }

  &--large {
  height: auto;
    @include media(em(700)) {
        width: 620px;
        height: 400px;
    }
    &-content {

    }
  }
}

.portfolio__item--large-content {

}

.portfolio__image {
  position: relative;

}
.portfolio__caption {
  position: absolute;
}
.portfolio__text {

  }
  .portfolio__hr {

  }
 figcaption {

}

.portfolio__box {
  position: absolute;
  background: #fff;
  bottom: 0;
  min-height: 250px;
  display: block;
  &--bottom {
    left: 0;
    width: 100%;
    padding: 35px 40px 25px 40px;
    &::after {
      background: #fff;
      content: "";
      top: -8px;
      left: 42px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      position: absolute;
    }
  }
  &--right {
    right: 0;
    width: 360px;
    height: 400px;
    display: block;
    padding: 40px 45px 30px;
    top: 0;
    &::after {
      background: #fff;
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      left: -8px;
      top: 42px;
      transform: rotate(45deg);
    }
  }
}



.portfolio__image {
  width: 100%;
  &:hover {
    & .portfolio__headline {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    & img {
	    filter: blur(10px) grayscale(50%);
      transition: all 0.25s ease-out;
    }
    & .portfolio__text {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    & .portfolio__hr {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
}

 .portfolio__headline {

}
