.portfolio {
  transition: width .5s;
  @include clearfix;
  @include outer-container;
  width: 100%;
  max-width: em(320);

  @include media(em(700)) {
    max-width: em(640);
  }
  @include media(em(981)) {
    max-width: em(960);
  }
  @include media(em(1300)) {
    max-width: $max-width;
  }
}

.portfolio__item {
  height: 400px;;
  overflow: hidden;
  float: left;
  margin: 10px 0;
  position: relative;

  @include media(em(900)) {
    margin: 10px;
  }

  @include media($medium-screen) {
    height: 400px;
    width: 300px;
  }

  &--large {
    max-width: 300px;
  height: auto;
    @include media(em(700)) {
        width: 620px;
        height: 400px;
        max-width: 100%;
    }
    &-content {

    }
  }
}

.portfolio__item--large-content {

}

.portfolio__image {
  position: relative;
  z-index: 5;
  max-width: 300px;
@include media(em(700)) {
  max-width: 100%;
}

 & img {
transition: opacity .75s, transform .75s;
backface-visibility: hidden;

 }
}
.portfolio__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  z-index: 10;
  background-color: rgba(255, 255, 255, 1);
  transition: all .75s;
  padding: em(15) em(40);
  width: 100%;
  @include media(em(700)) {
    min-height: 157px;
    padding: 2.1875em 2.5em 2.5625em;
  }

  @include media(em(700)) {
      background-color: rgba(255, 255, 255, 0);
  }
  &::before {
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    position: absolute;
    left: 24px;
    top: -8px;
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 1);
    transition: all .1s;
    transition-delay: 0s;
    @include media(em(700)) {
      left: 24px;
      top: 20px;
      background-color: rgba(255, 255, 255, 0);
    }
  }
}
.portfolio__text {

  }

.portfolio__hr  {
  display:block;
  height: 4px;
  width: 100%;
  text-align: center;
  border-top: rgba(0,0,0,.5) solid 1px;
  border-color: #FCB040;
  margin: 0 auto;
  padding-bottom: 1em;
}


    figcaption:not(.portfolio__box) {

      .portfolio__hr, .portfolio__headline,  .portfolio__text {
        @include media(em(700)) {
          transform: translate3d(-360px,0,0);
        }
      }

      .portfolio__hr {
        display: none;
        @include media(em(700)) {
          display: block;
        transition-delay: .1s;
        transition-duration: .3s,.3s;
        transition-property: transform,opacity;
        transition-timing-function: cubic-bezier(.7,0,.3,1);
        opacity: 0;
      }
    }
      .portfolio__headline {
        transition-delay: .2s;
        transition: opacity 0.35s, transform 0.35s;
      }
      .portfolio__text {
        display: none;
        @include media(em(700)) {
          display: block;
          transition: opacity 0.35s, transform 0.35s;
          transition-delay: .3s;
        }
      }
    }

.portfolio__box {
  position: absolute;
  background: #fff;
  bottom: 0;
  min-height: 250px;
  display: block;
  z-index: 10;
  &--bottom {
    left: 0;
    width: 100%;
    padding: 35px 40px 25px 40px;
    -webkit-box-shadow: 0px -10px 75px -20px rgba(0,0,0,0.59);
-moz-box-shadow: 0px -10px 75px -20px rgba(0,0,0,0.59);
box-shadow: 0px -10px 75px -20px rgba(0,0,0,0.59);
    &::after {
      background: #fff;
      content: "";
      top: -8px;
      left: 42px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      position: absolute;
    }
  }
  &--right {
    @include media(em(700)) {
  }
  }
}

.portfolio__box.portfolio__box--right {
  right: 0;
  display: block;
  padding: 40px 45px 30px;
  top: 0;
  position: relative;
  margin-top: -10px;
  &::after {
    background: #fff;
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    top: -8px;
    left: 24px;
  }
  @include media(em(700)) {
    position: absolute;
    width: 360px;
    height: 400px;
    margin: 0;
    &::after {
      left: -8px;
      top: 42px;
    }
  }
}

@include media(em(700)) {
.portfolio__image  {
  width: 100%;
  &:hover {
    & :not(.portfolio__box) .portfolio__headline {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    & :not(.portfolio__box) .portfolio__text {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    & :not(.portfolio__box) .portfolio__hr {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    & :not(.portfolio__box) + img {
      filter: blur(3px) ; //grayscale(50%);
      opacity: 0.4;
      -webkit-transform: scale3d(1.1,1.1,1);
      transform: scale3d(1.1,1.1,1);
    }
    & .portfolio__caption {
      background-color: rgb(255, 255, 255);
      background-color: rgba( 255, 255, 255, 1);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
        transition: all .25s;
      &::before {
        top: -8px;
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 1);
        transition: all .5s;
        transition-delay: .3s;
      }
    }
  }
}
}

 .portfolio__headline {
  font-size: 20px;
  color: #747474;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding:  0;

  text-transform: uppercase;



}

.portfolio__text {
    color: #747474;
   font-size: 16px;
   font-style: italic;
   font-family: georgia, serif;
   padding: 0 ;

}

.more-info {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: #E49E42;
  font-family: georgia, serif;
  font-style: italic;
  font-size: em(13);
  &:hover {
    color: #747474;
  }
}
.email-link {
  font-size: 14px;
  color: #747474;
  display:inline-block;
  margin-left: 10px;
}

.icon {
  padding: 10px 17px 15px 20px;
  height: 60px;
  width: 60px;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 4px 3px 8px -5px rgba(0,0,0,0.57);
  z-index: 15;
  font-size: 1.6em;
}

#plane i { margin-left:-4px;}

.portfolio__item--xlarge {
  @include media(em(700)) {
    width: 620px;
    height: 820px;
  }
}
.portfolio__textfield {
  background: #fff;
  padding: em(35) em(40) em(25) em(40);
  height: 400px;
  width: 300px;
}
.portfolio__body-text {
  padding-top: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: em(14);
}
.portfolio__item--arrow {
  background: #1B1B1B;
  width:300px;
  height: 100px;
  overflow: hidden;
  transition: background-color .3s;
  &:hover {
    background: #3C3C3C;
    .arrow__next i {
      left: 49%;
    }
    .arrow__previous i {
      left: 30%;
    }
  }

  @include media(em(981)) {
    height: 190px;
  }

  @include media(em(1300)) {
    width: 620px;
    height: 100px;
  }
  a {
    color: #A0A0A0;
    position: relative;
    overflow: auto;
    &:hover .arrow {
        background: #2B2B2B;
      }
    }
  }
.arrow__link {
  text-align: left;
  padding-top: 37px;
  padding-bottom: 37px;
      height: 100px;
  // text-transform: uppercase;
  font-family: georiga, serif;
  // transition: all .5s;
  @include media(min-width em(981) max-width em(1299)) {
        padding-top: 84px;
  }
  &--left {
    float: left;
    padding-left: 30px;
  }
  &--right {
    float: right;
    padding-right: 30px;
  }
}

.arrow {
  height: 100px;
  width: 100px;
  background: #232323;
  position: relative;
transition: background-color .5s;

  @include media(em(981)) {
    height: 190px;
    width: 90px;
  }

  @include media(em(1300)) {
    width: 100px;
    height: 100px;
  }

  &__previous {
    float: left;
  }

  &__next {
  float: right;
  }

  i {
    position: absolute;
    top: 39%;
    left: 39%;
    font-size: em(24);
    transition: all .3s;
  @include media(em(981)) {
        top: 43%;
    }
    @include media(em(1300)) {
      top: 41%;
      left: 41%;
    }
  }
}
.mTop {
  margin-top: 30px;
}
.orange-border {
  border-color: #FCB040;
}
.bImage {
  background: url(../images/back_s.png) 99px 194px no-repeat transparent;
  padding-top: 102px;
  background-color: #fff;
//   &::after {
//     position: absolute;
// top: 10px;
// right: 10px;
// bottom: 10px;
// left: 10px;
// border: 1px solid #e8e8e8;
// content: '';
//   }
  .portfolio__hr {
    margin-top: 1em;
  }
}

.fa-envelope {
  color: #BBBBBB;
}
