.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2em 2em 2em;
  padding-left: 1%;
  @media screen and (min-width: 600px) {
   padding-left: 1%;
  }
}

.portfolio__item {
  line-height: 0;
  width: 49%;
  padding: 3% 3% 0 0;
  overflow: hidden;
  @media screen and (min-width: 600px) {
    width: 33%;
    padding: 1% 1% 0 0;
  }
}
.portfolio__image {

  img {
    width: 100%;
  }
}
.portfolio__text {
    display: none;
    @media screen and (min-width:500px) {
      display:block;

      padding: 0 10px 0 0;
      width: 100%;
      text-align: center;;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 400;
      opacity: 0;

      transform: translate3d(0,10px,0);
      color: #fff;
      transition-delay: 0.2s;
      transition-duration: 0.3s, 0.3s;
      transition-property: transform, opacity;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
  .portfolio__hr {
    height: 4px;
    width: 70%;

    text-align: center;
    border-top: rgba( 255, 255, 255, .5) solid 4px;
    margin:0 auto;
    padding-bottom: 1em;
    transform: translate3d(0,10px,0);
    transition-delay: 0.10s;
    transition-duration: 0.3s, 0.3s;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    opacity: 0;
  }
 figcaption {
    position: absolute;
    padding: 10%;
    z-index: 999;
    width: 100%;
    margin-top: 46%;
    transform: translateY(-66%);
    @media screen and (min-width:600px) {
    margin-top: 46%;
    transform: translateY(-66%);
}
}
.portfolio__image {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: #777;
  overflow: hidden;

@include display(flex);
flex-direction: column;

  &:hover {
    & .portfolio__headline {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    & img {
	    filter: blur(10px) grayscale(50%);
      transition: all 0.25s ease-out;
    }
    & .portfolio__text {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    & .portfolio__hr {
      opacity: 1;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }


  & img {
  	width: 100%;
  	opacity: 1;
      transition: all 0.25s ease;
    height: 100%;
  }
}
 .portfolio__headline {
  // position: absolute;
  // bottom: 30%;
  font-family: 'Playfair Display', serif;
  // text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  align-self: center;
  width: 100%;
  text-align: center;
  padding:.5em 0;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.62);

  // transform: translate3d(0,-10px,0);
transition-duration: 0.2s, 0.2s;
transition-property: transform, opacity;
transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  @media screen and (min-width: 600px) {
    opacity: 0;
    font-size: 30px;
  }
  @media screen and (min-width: 480px) {
    font-size: 26px;
  }
}
